body {
    font: normal 10px roboto, arial, helvetica;

}



div.logo-center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 20px;

}

.sort-selector {
    display: flex;
    justify-content: center;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inventory-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.inventory-container {
    grid-column: 2;
    grid-row: 1;
    margin:auto;
    text-align: center;
    font-size: 20px;
    padding: 5%;
}