body {
    font: normal 10px roboto, arial, helvetica;

}



div.logo-center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 20px;

}

.sort-by-selector {
    display: flex;
    justify-content: center;
}

ul.sort-by {
    display: grid;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inventory-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    border: 2px solid black;
}

.inventory-container {
    grid-column: 2;
    grid-row: 1;
    margin:auto;
    text-align: center;
    font-size: 15px;
    padding: 5%;
}

/* nav.sort-by-selector {
    display: grid;
    justify-content:center;
} */

p.low-stock {
    color: orange;
    font-weight: bold;
}

p.out-of-stock {
    font-weight: bold;
    color: red;
}

p.in-stock {
    font-weight: bold;
    color:green;
}

form.new-beer-form {
    text-align: center;
}

a.nav-button {
    background-color: darkgreen;
    box-shadow: 0 5px 0 black;
    color: white;
    padding: 0.5em 1em;
    position: relative;
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
  }

.delete {
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 14px 28px;
        cursor: pointer;
}

.beer {
    border-color: #ff9800;
    color: orange;
  }

.beer:hover {
    background: #ff9800;
    color: white;
  }

.brewer {
    border-color: #f44336;
    color: red
  }
  
.brewer:hover {
    background: #f44336;
    color: white;
  }

img.beer-bottle {
    width:50px;
    height: auto;
}