{% extends 'base.html' %}
{% block content %}


<form class='inventory-container' action="/brewers" method="post">

    <div>
      <label for="name">Brewery Name: </label>
      <input type="text" id="name" name="name" placeholder="Brewer Name" required autofocus>
    </div>
  <br>
    <div>
      <label for="description">Description: </label>
      <input type="textarea" id="description" name="description" placeholder="Description" required autofocus>
    </div>
  
    <br>
    <br>
    
    <button type="submit">Add Brewer</button>
  
  </form>






{% endblock %}