{% extends 'base.html' %}
{% block content %}


<div class='inventory-container'>
    <a href="/brewers/{{brewer.id}}">{{brewer.name}}</a>
    <table style='width:100%'>
        <tr>

        </tr>
    
    </table>
    <div>
        <b>Name:</b> {{brewer.name}}
    </div>

    <div>
        <b>Description:</b> {{brewer.description}}
        <br>
        <br>
    </div>

    <div>
        <a href="/brewers/{{brewer.id}}/edit">Edit Brewer Details</a>
        <br>
        <br><br><br>
        </div>

        <div>
            <form class="delete-select" action="/brewers/{{brewer.id}}/delete" method = "POST">
            <button class = 'delete brewer'>Delete Brewer</button>
            </form>
        </div>
</div>



{% endblock %}