{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>

<div style="text-align:center">
    <h2>Welcome to <i>Smooth Hoperator</i>.</h2>
    <h4>Inventory management made smooth. Smooth Hoperator is a super-lightweight app to track products and suppliers.
    </h4>
    <br><br>
    <h4>Navigate using the links above. Further instructions within.</h4>
    <ul style="list-style-type: none">
        <li><b>Stock Listing</b> Returns all items in the database along with some basic details and stock level.
            Updated to Stock Levels are done through this page.</li>
        <li><b>Beer Management</b> Manage Beers. Add or Remove items. See information on total value/cost.</li>
        <li><b>Brewer Management</b> Manage Brewers. Add or Remove Brewers.</li>
    </ul>
</div>
<br>
<br>
<br>
<br>
<br>


{% endblock %}