{%extends 'base.html'%}
{%block content%}

<a href="/beers/new"><h3 style='text-align:center;'>Add New Beer</h3></a>
<h5 style = 'text-align:center'>Full Beer information below. Click Edit Beer to Edit details.</h5>

{% for beer in all_beers %}
<section class='inventory-section'>
    <div class='inventory-container'>
        <a href="/beers/{{beer.id}}">{{beer.name}}</a>
        <div>
            <b>Name:</b>{{beer.name}}
        </div>

        <div>
            <b>Brewer:</b> {{beer.brewer.name}}
        </div>

        <div>
            <b>Stock Level:</b> {{beer.stock}}
            </div>
            <div>
                <b>Buy Price:</b> {{beer.buy_price}}
            </div>
            <div>
                <b>Sell Price:</b> {{beer.sell_price}}
            </div>
            <div>
                <b>Markup:</b> {{(beer.sell_price - beer.buy_price)*100}}%
                <br>
                <br>
            </div>
            <div>
                <a href="/beers/{{beer.id}}/edit">Edit Beer</a>
                <br>
                <br>
                </div>
                <div>
                    <form class="delete-select" action="/beers/{{beer.id}}/delete" method = "POST">
                    <button class = 'delete beer'>Delete Product</button>
                    </form>
                </div>
    </div>
</section>

{%endfor%}

{% endblock %}