{% extends 'base.html' %}
{% block content %}

<h3 style="text-align:center"><a href="/beers/new">Add New Beer</a></h3>
<h5 style = 'text-align:center'>Click on a Beer to see more information and access the edit page.</h5>
{% for beer in all_beers %}
    <div class='inventory-container'>
        <a href="/beers/{{beer.id}}">{{beer.name}}</a>
        <div>
            <b>Name:</b> {{beer.name}}
        </div>
        <div>
            <b>Description:</b> {{beer.description}}
        </div>
        <div>
            <b>Brewer:</b> {{beer.brewer.name}}
        </div>
        <div>
            <b>Stock:</b> {{beer.stock}}
        </div>
        <div>
            <form class="delete-select" action="/beers/{{beer.id}}/delete" method = "POST">
            <button class = 'delete-button'>Delete Product</button>
            </form>
        </div>
    </div>
</div>


{%endfor%}








{% endblock %}