{% extends 'base.html' %}
{% block content %}


<div class='inventory-container'>
    <a href="/beers/{{beer.id}}">{{beer.name}}</a>
    <table style='width:100%'>
        <tr>

        </tr>
    
    </table>
    <div>
        <b>Name:</b> {{beer.name}}
    </div>

    <div>
        <b>Brewer:</b> {{beer.brewer.name}}
    </div>

    <div>
        <b>Stock:</b> {{beer.stock}}
    </div>
    <div>
        <b>Buy Price:</b> {{beer.buy_price}}
    </div>
    <div>
        <b>Sell Price:</b> {{beer.sell_price}}
        <br>
        <br>
    </div>
    <div>
        <a href="/beers/{{beer.id}}/edit">Edit Beer</a>
        </div>
</div>



{% endblock %}