{% extends 'base.html' %}
{% block content %}

<nav style="text-align:left" class='sort-by-selector'>
    <h3>Sort By: </h3>
    <ul class='sort-by'>
        <li><a href="/stock/sortn">Name</a></li><br>
        <li><a href="/stock/sortb">Brewery</a></li><br>
        <li><a href="/stock/sortc">Cost</a></li><br>
    </ul>
</nav>
<nav>
  <p style="text-align:center">Click on a Beer to update Stock, or Sell Price.</p>
  </nav>

{% for beer in all_beers %}
<section class='inventory-section'>
    <div class='inventory-container'>
        <a href="/beers/{{beer.id}}/edit">{{beer.name}}</a>
        <div>
            <b>Name:</b>{{beer.name}}
        </div>

        <div>
            <b>Brewer:</b> {{beer.brewer.name}}
        </div>

        <div>
            <b>Stock Level:</b> {{beer.stock}}
            {% if beer.stock < 3 %}
                <p class ='low-stock'>LOW STOCK WARNING!</p>
            {% endif %}
            {%if beer.stock == 0 %}
                <p class='out-of-stock'>Out of Stock</p>
            {% endif %}
        </div>
    </div>
</section>

{%endfor%}






{% endblock %}